Port {{ common_ssh_port }}

DebianBanner no
X11Forwarding no

MaxAuthTries 3
LoginGraceTime 30
ClientAliveCountMax 3

ClientAliveInterval 300
ChallengeResponseAuthentication no
KerberosAuthentication no
GSSAPIAuthentication no

PermitRootLogin no
PermitEmptyPasswords no
PubkeyAuthentication yes
PasswordAuthentication no
